USE [bookStore]
GO
/****** Object:  Table [dbo].[book_clubs]    Script Date: 2026/3/1 下午 01:57:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE TABLE [dbo].[book_clubs](
	[club_id] [int] IDENTITY(1,1) NOT NULL,
	[ai_evaluation] [varchar](max) NULL,
	[club_name] [varchar](100) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[current_participants] [int] NULL,
	[deadline] [datetime2](6) NOT NULL,
	[event_date] [datetime2](6) NOT NULL,
	[external_book_info] [varchar](200) NULL,
	[location] [varchar](200) NOT NULL,
	[max_participants] [int] NULL,
	[organizer_type] [smallint] NULL,
	[rejection_reason] [varchar](500) NULL,
	[status] [int] NULL,
	[book_id] [int] NULL,
	[category_id] [int] NOT NULL,
	[host_id] [int] NOT NULL,
	[version] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[club_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[book_genre_map]    Script Date: 2026/3/1 下午 01:57:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book_genre_map](
	[book_id] [int] NOT NULL,
	[genre_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[book_id] ASC,
	[genre_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[book_images]    Script Date: 2026/3/1 下午 01:57:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book_images](
	[image_id] [int] IDENTITY(1,1) NOT NULL,
	[book_id] [int] NULL,
	[image_url] [varchar](265) NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[books]    Script Date: 2026/3/1 下午 01:57:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[books](
	[book_id] [int] IDENTITY(1,1) NOT NULL,
	[book_name] [varchar](255) NULL,
	[author] [varchar](255) NULL,
	[translator] [varchar](255) NULL,
	[press] [varchar](255) NULL,
	[price] [numeric](38, 2) NULL,
	[isbn] [varchar](255) NULL,
	[stock] [int] NOT NULL,
	[short_desc] [varchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[on_shelf] [tinyint] NOT NULL,
	[version] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[isbn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[browsing_history]    Script Date: 2026/3/1 下午 01:57:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[browsing_history](
	[historyId] [int] IDENTITY(1,1) NOT NULL,
	[browsedAt] [datetime2](6) NULL,
	[bookId] [int] NULL,
	[userId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[historyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 2026/3/1 下午 01:57:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[cart_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[book_id] [int] NULL,
	[quantity] [int] NOT NULL,
	[created_time] [datetime2](7) NULL,
	[updated_time] [datetime2](7) NULL,
	[cart_status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chat_message]    Script Date: 2026/3/1 下午 01:57:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chat_message](
	[msgId] [int] IDENTITY(1,1) NOT NULL,
	[content] [varchar](255) NULL,
	[createdAt] [datetime2](6) NULL,
	[isRead] [bit] NULL,
	[receiverId] [int] NULL,
	[senderId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[msgId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[club_categories]    Script Date: 2026/3/1 下午 01:57:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[club_categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[club_detail]    Script Date: 2026/3/1 下午 01:57:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[club_detail](
	[clubdetail_id] [int] IDENTITY(1,1) NOT NULL,
	[agenda] [nvarchar](max) NULL,
	[diffult_level] [int] NULL,
	[mode_type] [int] NULL,
	[proof_path] [varchar](255) NULL,
	[purpose] [varchar](255) NULL,
	[requirement] [varchar](255) NULL,
	[club_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[clubdetail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[club_registrations]    Script Date: 2026/3/1 下午 01:57:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[club_registrations](
	[reg_id] [int] IDENTITY(1,1) NOT NULL,
	[check_in] [bit] NULL,
	[registered_at] [datetime2](6) NULL,
	[status] [int] NULL,
	[club_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[reg_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[coupons]    Script Date: 2026/3/1 下午 01:57:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[coupons](
	[coupon_id] [int] IDENTITY(1,1) NOT NULL,
	[coupon_code] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[discount_amount] [numeric](38, 2) NOT NULL,
	[min_spend] [numeric](38, 2) NOT NULL,
	[status] [int] NULL,
	[used_at] [datetime2](6) NULL,
	[user_id] [int] NULL,
	[coupon_name] [varchar](255) NOT NULL,
	[is_available] [int] NOT NULL,
	[updated_at] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[coupon_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[genres]    Script Date: 2026/3/1 下午 01:57:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[genres](
	[genre_id] [int] IDENTITY(1,1) NOT NULL,
	[genre_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[genre_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[genre_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[log_item]    Script Date: 2026/3/1 下午 01:57:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[log_item](
	[log_item_id] [int] IDENTITY(1,1) NOT NULL,
	[log_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[change_qty] [int] NOT NULL,
	[cost_price] [numeric](38, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[log_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[operation_log]    Script Date: 2026/3/1 下午 01:57:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[operation_log](
	[logId] [int] IDENTITY(1,1) NOT NULL,
	[action] [nvarchar](max) NULL,
	[actionTime] [datetime2](6) NULL,
	[adminName] [varchar](255) NULL,
	[targetId] [varchar](255) NULL,
	[adminId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[logId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_item]    Script Date: 2026/3/1 下午 01:57:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_item](
	[order_item_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[book_id] [int] NULL,
	[quantity] [int] NOT NULL,
	[price] [numeric](38, 2) NULL,
	[subtotal] [numeric](38, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_returns]    Script Date: 2026/3/1 下午 01:57:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_returns](
	[return_id] [int] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[description] [text] NULL,
	[reason] [varchar](255) NULL,
	[order_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[return_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 2026/3/1 下午 01:57:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[total_amount] [numeric](38, 2) NULL,
	[payment_method] [varchar](255) NULL,
	[payment_status] [varchar](255) NULL,
	[order_status] [varchar](255) NULL,
	[recipient_at] [varchar](255) NULL,
	[shipping_at] [datetime] NULL,
	[phone] [varchar](255) NULL,
	[shipped_at] [datetime2](7) NULL,
	[delivered_at] [datetime2](7) NULL,
	[received_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[paid_at] [datetime2](7) NULL,
	[completed_at] [datetime2](7) NULL,
	[address] [varchar](255) NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[DELIVERY_METHOD] [varchar](255) NULL,
	[SHIPPING_FEE] [numeric](38, 2) NULL,
	[FINAL_AMOUNT] [numeric](38, 2) NULL,
	[COUPON_ID] [int] NULL,
	[DISCOUNT] [numeric](38, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[refundItem]    Script Date: 2026/3/1 下午 01:57:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[refundItem](
	[refund_item_id] [int] IDENTITY(1,1) NOT NULL,
	[refund_id] [int] NULL,
	[order_item_id] [int] NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[refund_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[refunds]    Script Date: 2026/3/1 下午 01:57:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[refunds](
	[refund_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[reason] [varchar](255) NOT NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime2](7) NULL,
	[processed_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[refund_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[review_reports]    Script Date: 2026/3/1 下午 01:57:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[review_reports](
	[review_report_id] [int] IDENTITY(1,1) NOT NULL,
	[admin_results] [varchar](255) NULL,
	[created_at] [datetime2](6) NULL,
	[processed_at] [datetime2](6) NULL,
	[reason] [varchar](255) NOT NULL,
	[review_id] [int] NOT NULL,
	[status] [varchar](255) NOT NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[review_report_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reviews]    Script Date: 2026/3/1 下午 01:57:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviews](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stock_logs]    Script Date: 2026/3/1 下午 01:57:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock_logs](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[total_amount] [numeric](38, 2) NULL,
	[wholesaler] [varchar](255) NULL,
	[log_time] [datetime2](7) NULL,
	[stock_type] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_coupons]    Script Date: 2026/3/1 下午 01:57:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_coupons](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[coupon_id] [int] NULL,
	[received_at] [datetime2](6) NOT NULL,
	[status] [int] NOT NULL,
	[used_at] [datetime2](6) NULL,
	[user_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 2026/3/1 下午 01:57:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [varchar](255) NULL,
	[user_pwd] [varchar](255) NOT NULL,
	[email] [varchar](255) NULL,
	[gender] [varchar](255) NULL,
	[birth] [datetime2](6) NULL,
	[phone_num] [varchar](255) NULL,
	[address] [nvarchar](255) NULL,
	[img] [nvarchar](255) NULL,
	[points] [int] NULL,
	[user_type] [tinyint] NOT NULL,
	[status] [tinyint] NOT NULL,
	[created_by] [varchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_by] [varchar](255) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wishlist]    Script Date: 2026/3/1 下午 01:57:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wishlist](
	[wishlistId] [int] IDENTITY(1,1) NOT NULL,
	[createdAt] [datetime2](6) NULL,
	[bookId] [int] NULL,
	[userId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[wishlistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[books] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[books] ADD  DEFAULT ((0)) FOR [on_shelf]
GO
ALTER TABLE [dbo].[cart] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[cart] ADD  DEFAULT (getdate()) FOR [created_time]
GO
ALTER TABLE [dbo].[cart] ADD  DEFAULT (getdate()) FOR [updated_time]
GO
ALTER TABLE [dbo].[cart] ADD  DEFAULT ('active') FOR [cart_status]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('未付款') FOR [payment_status]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('待出貨') FOR [order_status]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('') FOR [address]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[refundItem] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[refunds] ADD  DEFAULT ('退款中') FOR [status]
GO
ALTER TABLE [dbo].[refunds] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[reviews] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[stock_logs] ADD  DEFAULT (getdate()) FOR [log_time]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [points]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [user_type]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[book_clubs]  WITH CHECK ADD  CONSTRAINT [FK3v8edewb9ifmjepl9on6d4o85] FOREIGN KEY([book_id])
REFERENCES [dbo].[books] ([book_id])
GO
ALTER TABLE [dbo].[book_clubs] CHECK CONSTRAINT [FK3v8edewb9ifmjepl9on6d4o85]
GO
ALTER TABLE [dbo].[book_clubs]  WITH CHECK ADD  CONSTRAINT [FKgcrg4s5kiswu5dv2y93or6tmw] FOREIGN KEY([category_id])
REFERENCES [dbo].[club_categories] ([category_id])
GO
ALTER TABLE [dbo].[book_clubs] CHECK CONSTRAINT [FKgcrg4s5kiswu5dv2y93or6tmw]
GO
ALTER TABLE [dbo].[book_clubs]  WITH CHECK ADD  CONSTRAINT [FKsw7ptxsuowp5itrwntfkptnqy] FOREIGN KEY([host_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[book_clubs] CHECK CONSTRAINT [FKsw7ptxsuowp5itrwntfkptnqy]
GO
ALTER TABLE [dbo].[book_genre_map]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[books] ([book_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[book_genre_map]  WITH CHECK ADD FOREIGN KEY([genre_id])
REFERENCES [dbo].[genres] ([genre_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[book_images]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[books] ([book_id])
GO
ALTER TABLE [dbo].[browsing_history]  WITH CHECK ADD  CONSTRAINT [FK69popxx8qt6cgyv1al1uu9nxs] FOREIGN KEY([bookId])
REFERENCES [dbo].[books] ([book_id])
GO
ALTER TABLE [dbo].[browsing_history] CHECK CONSTRAINT [FK69popxx8qt6cgyv1al1uu9nxs]
GO
ALTER TABLE [dbo].[browsing_history]  WITH CHECK ADD  CONSTRAINT [FKtf56oo7d1sely5qw2rxc3h6t8] FOREIGN KEY([userId])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[browsing_history] CHECK CONSTRAINT [FKtf56oo7d1sely5qw2rxc3h6t8]
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[books] ([book_id])
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[club_detail]  WITH CHECK ADD  CONSTRAINT [FK9ybiuhpk3ys56c7arylydht22] FOREIGN KEY([club_id])
REFERENCES [dbo].[book_clubs] ([club_id])
GO
ALTER TABLE [dbo].[club_detail] CHECK CONSTRAINT [FK9ybiuhpk3ys56c7arylydht22]
GO
ALTER TABLE [dbo].[club_registrations]  WITH CHECK ADD  CONSTRAINT [FK6dhs80coe1dyqf5iefpb4dnfb] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[club_registrations] CHECK CONSTRAINT [FK6dhs80coe1dyqf5iefpb4dnfb]
GO
ALTER TABLE [dbo].[club_registrations]  WITH CHECK ADD  CONSTRAINT [FKjsns5hwau95st5h5glhttbjo3] FOREIGN KEY([club_id])
REFERENCES [dbo].[book_clubs] ([club_id])
GO
ALTER TABLE [dbo].[club_registrations] CHECK CONSTRAINT [FKjsns5hwau95st5h5glhttbjo3]
GO
ALTER TABLE [dbo].[coupons]  WITH CHECK ADD  CONSTRAINT [FKhb27gggactdhu0i65fwiaxb0r] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[coupons] CHECK CONSTRAINT [FKhb27gggactdhu0i65fwiaxb0r]
GO
ALTER TABLE [dbo].[log_item]  WITH CHECK ADD  CONSTRAINT [FK_logItem_stockLogs] FOREIGN KEY([log_id])
REFERENCES [dbo].[stock_logs] ([log_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[log_item] CHECK CONSTRAINT [FK_logItem_stockLogs]
GO
ALTER TABLE [dbo].[log_item]  WITH CHECK ADD  CONSTRAINT [FKdxv1b4sbxcdd76hshapei9d1d] FOREIGN KEY([book_id])
REFERENCES [dbo].[books] ([book_id])
GO
ALTER TABLE [dbo].[log_item] CHECK CONSTRAINT [FKdxv1b4sbxcdd76hshapei9d1d]
GO
ALTER TABLE [dbo].[operation_log]  WITH CHECK ADD  CONSTRAINT [FK7hmu3jxmpohw7y6y4f99ikgry] FOREIGN KEY([adminId])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[operation_log] CHECK CONSTRAINT [FK7hmu3jxmpohw7y6y4f99ikgry]
GO
ALTER TABLE [dbo].[order_item]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[books] ([book_id])
GO
ALTER TABLE [dbo].[order_item]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[order_returns]  WITH CHECK ADD  CONSTRAINT [FKaifre9nq9q3r1lng6p4pxvoxk] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[order_returns] CHECK CONSTRAINT [FKaifre9nq9q3r1lng6p4pxvoxk]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[refundItem]  WITH CHECK ADD FOREIGN KEY([order_item_id])
REFERENCES [dbo].[order_item] ([order_item_id])
GO
ALTER TABLE [dbo].[refundItem]  WITH CHECK ADD FOREIGN KEY([refund_id])
REFERENCES [dbo].[refunds] ([refund_id])
GO
ALTER TABLE [dbo].[refunds]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[review_reports]  WITH CHECK ADD  CONSTRAINT [FK6tdgiglene682qlol5blpt5la] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[review_reports] CHECK CONSTRAINT [FK6tdgiglene682qlol5blpt5la]
GO
ALTER TABLE [dbo].[review_reports]  WITH CHECK ADD  CONSTRAINT [FKbrdboxyyutcd8bd1igkd5t8cj] FOREIGN KEY([review_id])
REFERENCES [dbo].[reviews] ([review_id])
GO
ALTER TABLE [dbo].[review_reports] CHECK CONSTRAINT [FKbrdboxyyutcd8bd1igkd5t8cj]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[books] ([book_id])
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[user_coupons]  WITH CHECK ADD  CONSTRAINT [FK654lvm2qu8l08pyg310mbd74h] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[user_coupons] CHECK CONSTRAINT [FK654lvm2qu8l08pyg310mbd74h]
GO
ALTER TABLE [dbo].[user_coupons]  WITH CHECK ADD  CONSTRAINT [FK9oi3p5xyfe4j32xs54nn7mi20] FOREIGN KEY([coupon_id])
REFERENCES [dbo].[coupons] ([coupon_id])
GO
ALTER TABLE [dbo].[user_coupons] CHECK CONSTRAINT [FK9oi3p5xyfe4j32xs54nn7mi20]
GO
ALTER TABLE [dbo].[wishlist]  WITH CHECK ADD  CONSTRAINT [FKc2re42tt83nd0gvfvuoqqc3pp] FOREIGN KEY([bookId])
REFERENCES [dbo].[books] ([book_id])
GO
ALTER TABLE [dbo].[wishlist] CHECK CONSTRAINT [FKc2re42tt83nd0gvfvuoqqc3pp]
GO
ALTER TABLE [dbo].[wishlist]  WITH CHECK ADD  CONSTRAINT [FKeeuc2qmj194htwtw2f5bmspki] FOREIGN KEY([userId])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[wishlist] CHECK CONSTRAINT [FKeeuc2qmj194htwtw2f5bmspki]
GO
